button.show-code {
  position: fixed;
  background: none;
  border: none;
  cursor: pointer;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  margin-left: 5%;
  height: calc(0.9 * 100vh);
  overflow: scroll;
}