.toggle {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 0 1em;
}

.toggle:hover {
  cursor: pointer;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.on {
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 105, 97, 0.3),
    rgba(255, 179, 71, 0.3),
    rgba(255, 209, 102, 0.3),
    rgba(6, 214, 160, 0.3),
    rgba(27, 154, 170, 0.3),
    rgba(61, 90, 128, 0.3),
    rgba(119, 71, 135, 0.3)
  );
  transform: translate(20px, 0);
}

.off {
  background-color: #fff5;
}